<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>
    <body>
        
        <div class="container">
            <header>
                <h1>Calculadora Módulo 3</h1> 
                <h2>Front-end</h2>
            </header>
        </div>    
        <div class="calculadora">

            <div class="display">
                <div class="display2">
                    <h1 >1234567890</h1>
                </div>
            </div>       
            <div class="espaco"></div>
            <div>
                <button id="clean" name="clean" type="reset"> ⌫ </button>
            </div> 
      
            <div class="actions">
                <button id="delete" name="delete" type="reset"> &#8450</button>
                <button id="parentheses" type="button"> &#40 &#41 </button>
                <button id="percentage" type="button"> &#37 </button>
                <button id="share" type="button"> ÷ </button>  
                <button id="seven" type="button" > 7 </button>
                <button id="eight" type="button" > 8 </button>    
                <button id="nine" type="button" >  9  </button>
                <button id="multiply" type="button"> x </button>
                <button id="four" type="button" > 4 </button> 
                <button id="five" type="button"> 5 </button>
                <button id="six" type="button"> 6 </button>
                <button id="subtract" type="button" > &#45 </button>
                <button id="one" type="button" > 1 </button>
                <button id="two" type="button" > 2 </button>
                <button id="three" type="button"> 3 </button>
                <button id="sum" type="button" > &#43 </button>
                <button id="conversion" type="button" > +/- </button>
                <button id="zero" type="button" > 0 </button>                      
                <button id="score"type="button" > &#46 </button>
                <button id="result" type="button" > &#61 </button>
            </div>                  
        </div>        
    </body>
</html>